.floating-card {
	position: relative;
	width: 20%;
	height: 586px;
	background: white;
	border-width: 2px;
	border-color: orange;
	border-style: solid;
	float: right;
	padding: 5px;
}

.map {

}

.navbar {

}

.map-title {
	text-align: center
}

.map-subtitle {
	text-align: center;
}

.faq {
	text-align: center;
	display: block;
}

.map-div{
	height: 600px;
	width: 100%;
	position: relative;
 	float: left;
}