.floating-card {
	position: relative;
	z-index: 1;
	width: 20%;
	height: 586px;
	background: white;
	border-width: 2px;
	border-color: orange;
	border-style: solid;
	float: right;
	padding: 5px;
}

.map {
	position: relative;
 	z-index: 0;
 	float: left;
}

.navbar {

}

.map-title {
	text-align: center
}

.map-subtitle {
	text-align: center;
}

.faq {
	text-align: center;
	display: block;
}