.floating-card {
	position: relative;
	z-index: 1;
	width: 20%;
	height: 600px;
	background: white;
	border-width: 2px;
	border-color: orange;
	border-style: solid;
	float: right;
	padding: 5px;
}

.map {
	position: relative;
 	z-index: 0;
 	float: left;
}